.filter-wrapper{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    /* background-color: lightgray; */
    /* padding: 20px; */
}
.filters{
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-heading{
    padding: 15px;
}
label{
    margin-right: 10px;
}

.filters > select {
    margin-right: 30px;
    height: 30px;
    border-radius: 10px;
}

@media (max-width: 760px){
    .filters{
        flex-direction: column;
    }
    .filters > select {
        margin-left: 70px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}